 .u-section-1 {
  min-height: 138px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 168px;
  --radius: 50px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 30px 50px;
}

.u-section-1 .u-text-1 {
  margin: 0 auto;
}

.u-section-1 .u-image-1 {
  min-height: 159px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("images/326c9361a1d9f74c9c89ac3d6b7717dabc31edbd4581adefc2fd2a77bc9b6419d5df8c068394dbe042d945c489046fbfc9946797529cf60fb92a8c_1280.jpg");
  background-size: cover;
  --radius: 50px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 776px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 139px;
  }

  .u-section-1 .u-image-1 {
    min-height: 131px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 616px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-1 .u-image-1 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1705px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -62px;
    margin-bottom: -62px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-1 .u-image-1 {
    min-height: 225px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 281px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 21px;
    margin-bottom: 21px;
  }

  .u-section-1 .u-image-1 {
    min-height: 142px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 36px;
}

.u-section-2 .u-line-1 {
  transform-origin: right center;
  margin: 17px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-line-1 {
    margin-top: 19px;
    margin-bottom: 14px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 634px;
}

.u-section-3 .u-text-1 {
  margin: -7px 0 0;
}.u-section-4 .u-sheet-1 {
  min-height: 968px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 2px;
  margin-bottom: 13px;
}

.u-section-4 .u-image-1 {
  min-height: 535px;
  background-image: url("images/Jak-przyspieszyc-kompostowanie-0-1170x780.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 535px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 30px 30px 0;
}

.u-section-4 .u-text-1 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-4 .u-image-2 {
  min-height: 433px;
  background-image: url("images/7de3064dff71ef8115604081632bbaab63a220ddb5de866821d0e04ccffbb661c551831225190113ddb6e533a3a1e15f9abc73a52ce6a038c58600_1280.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1039px;
  }

  .u-section-4 .u-image-1 {
    min-height: 441px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 441px;
  }

  .u-section-4 .u-image-2 {
    min-height: 357px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 869px;
  }

  .u-section-4 .u-image-1 {
    min-height: 338px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-image-2 {
    min-height: 273px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1080px;
  }

  .u-section-4 .u-image-1 {
    min-height: 507px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    min-height: 459px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 770px;
  }

  .u-section-4 .u-image-1 {
    min-height: 319px;
  }

  .u-section-4 .u-image-2 {
    min-height: 289px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 36px;
}

.u-section-5 .u-line-1 {
  transform-origin: right center;
  margin: 17px 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 159px;
}

.u-section-6 .u-text-1 {
  margin: 0 0 -7px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    margin-top: -122px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    margin-top: -321px;
    margin-bottom: 0;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 36px;
}

.u-section-7 .u-line-1 {
  margin-top: 17px;
  margin-bottom: 17px;
  transform-origin: right center;
}