.u-section-1 .u-sheet-1 {
  min-height: 315px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: solid;
  font-size: 1.25rem;
  margin: 68px auto 0;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: solid;
  font-size: 1.25rem;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  border-style: solid;
  font-size: 1.25rem;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  border-style: solid;
  font-size: 1.25rem;
  margin: 20px auto 60px;
  padding: 0;
}