.u-section-1 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-1 .u-image-1 {
  width: 1085px;
  min-height: 636px;
  height: auto;
  --radius: 20px;
  background-image: url("images/rdoZdrowia-mapaplan2022.06.04_1.png");
  background-position: 50% 50%;
  margin: 46px auto 60px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 571px;
  }

  .u-section-1 .u-image-1 {
    width: 940px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 437px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 328px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 742px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 40px;
    background-position: 51.42% 50%;
    background-size: cover;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}